# Source tenant app registration
SOURCE_TENANT_ID=
SOURCE_CLIENT_ID=
SOURCE_CLIENT_SECRET=
SOURCE_FOLDER_PATH=Documents/Project

# Destination tenant app registration
DEST_TENANT_ID=
DEST_CLIENT_ID=
DEST_CLIENT_SECRET=
DESTINATION_FOLDER_PATH=Documents/Project
